  .navbar  {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .dropdown-menu{
	  
      color: #fff !important;
	  background-color: #f4511e !important;

  }
  

  
  .curriculumMe
	{
		position: relative;
		color: black;
		background-color: green;
		font-size: 16px;
		text-align: center;
		padding-top:50px;
	}

   .imageBody
   {
	border: 2px solid red;
    border-radius: 8px;
	
  }
  
	.aboutMe
	{
		position: relative;
		padding-top:50px;
		color: #fff;
		background-color: #1E88E5;
	}
  

	.projectStyle
	{
		position: relative;
		color: black;
		background-color: gray;
		font-size: 16px;
		text-align: center;
		padding-top: 50px;
	}
  
  .img-responsive
  {
	  margin: 0 auto;
	  
  }