:root{
    --maxWidth: 1000px;
}

/* This will cover the navbar of each page of the index.html */
  .navbar  {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
      
      
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .dropdown-menu{
	  
      color: #fff !important;
	  background-color: #f4511e !important;

  }
  

.jumbotronStyle{
    max-width: var(--maxWidth);
    margin: auto;
}  
.curriculumMe
{
    color: black;
    background-color: green;
    font-size: 16px;
    margin: 20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    text-align: center;
    
}
/* This will cover the about me section of the index.html*/

.aboutMeBody
{
    background-color: #1E88E5;
    color: white;
    font-size: 16px;
    margin: 20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    text-align: left-align;
    
    max-width: var(--maxWidth);
    margin: auto;
    margin-top:15px;
    margin-bottom:15px;
}

.aboutMeCardTitle
{
    color: white; 
    background-color: blue;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    
}

.aboutMeCardBody
{
    color: white; 
    background-color: blue;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    text-align: left-align;
    
}
.aboutMeCardFooter
{
    color: white; 
    background-color: blue;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    text-align: left-align;
    max-width: 200px;
}

/* This will cover the resume section of index.html! */
.resumeBody
{
    color: black;
    background-color: green;
    font-size: 16px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    max-width: var(--maxWidth);
    margin: auto;
    margin-top:15px;
    #margin-bottom:15px;
    
}

.resumeCardBody
{
    background-color: lightgreen;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    text-align: left-align;
    
    min-height:580px;
    height:auto;
}
 .resumeCardTitle
{
    background-color: lightgreen;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
.resumeCardHeader
{
    background-color: lightgreen;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    
}
.resumeCardFooter
{
    background-color: lightgreen;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;    
    padding: 10px;
    text-align: center;
}


/* This will cover the project portion of the index.html! */  
.projectBody
{
    position: relative;
    color: black;
    background-color: gray;
    font-size: 16px;
    
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    
    max-width: var(--maxWidth);
    margin: auto;
    margin-top:50px;
    margin-bottom:15px;
    
}

 .projectCardTitle
{
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    text-align: center;
    max-width: 500px;
   
    margin: auto;
}

.projectCardHeader
{
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    
    
}

.projectCardBody
{
    background-color: lightgrey;
    border: 1px solid black;
    
    
    min-height:500px;
    height:auto;
    
    
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
    text-align: left-align;
    
  
}
.projectCardText
{
    position:absolute;
    bottom: 0;
}

.projectCardFooter
{
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;    
    padding: 10px;  
    text:10;
    text-align: center;
    #max-width:200px;
    #magin:auto;
    
    
}  

.contactMeBody
{
    max-width: var(--maxWidth);
    margin: auto;
    margin-top:50px;
    margin-bottom:15px;
    
}


.img-responsive
{
  margin: 0 auto;
  
}