
/* This will cover the navbar of each page of the index.html */
  .navbar  {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .dropdown-menu{
	  
      color: #fff !important;
	  background-color: #f4511e !important;

  }
  

  
.curriculumMe
{
    color: black;
    background-color: green;
    font-size: 16px;
    margin: 20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    text-align: center;
}
/* This will cover the about me section of the index.html*/

.aboutMeBody
{
    background-color: #1E88E5;
    color: white;
    font-size: 16px;
    margin: 20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    text-align: left-align;
}

.aboutMeCardTitle
{
    color: white; 
    background-color: blue;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
}

.aboutMeCardBody
{
    color: white; 
    background-color: blue;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
}
.aboutMeCardFooter
{
    color: white; 
    background-color: blue;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
}

/* This will cover the resume section of index.html! */
.resumeBody
{
    color: black;
    background-color: green;
    font-size: 16px;
    margin: 20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    text-align: center;
}

.resumeCardBody
{
    background-color: lightgreen;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
}
 .resumeCardTitle
{
    background-color: lightgreen;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
}
.resumeCardHeader
{
    background-color: lightgreen;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;      
}
.resumeCardFooter
{
    background-color: lightgreen;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;    
    padding: 10px;      
}


/* This will cover the project portion of the index.html! */  
.projectBody
{
    position: relative;
    color: black;
    background-color: gray;
    font-size: 16px;
    margin: 20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    text-align: center;
}

.projectCardBody
{
    background-color: lightgrey;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
}
 .projectCardTitle
{
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;
}
.projectCardHeader
{
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;  
    padding: 10px;      
}
.projectCardFooter
{
    background-color: lightgray;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top: 10px;    
    padding: 10px;      
}  

.projectBody
{
    position: relative;
    color: black;
    background-color: gray;
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
}

.img-responsive
{
  margin: 0 auto;
  
}